{% extends "app/layout.html" %}
{% block content %}
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
    <p>Нашими спонсорами являются такие популярные компании как Samsung, DNS, Мвидео</p>
    <div class="logosam">
        <a href="https://online-samsung.ru/?ysclid=m3zu4nj5bs521936723" target="_blank">
            <img src="{% static 'app/content/logosam.jpg' %}" alt="Logo 1" class="logosam" />
        </a>
    </div>
    <p>
        Samsung Group («Самсунг Груп», кор. 삼성그룹, Samseong Gurub, Samsŏng Gurup) — южнокорейская группа компаний, один из крупнейших чеболей, основанный в 1938 году.
        Samsung Group владеет долей в наиболее известной компании группы — публичной компании Samsung Electronics, известной как производитель смартфонов, интегральных микросхем, телекоммуникационного оборудования, бытовой техники, аудио- и видео устройств.
        Также имеется одноименная сеть магазинов по продаже одноимённой электроники.
    </p>
    <div class="logoDNS">
        <a href="https://www.dns-shop.ru/?ysclid=m3zz5vb3sg109547906" target="_blank">
            <img src="{% static 'app/content/DNSlogo.jpg' %}" alt="Logo 1" class="logoDNS" />
        </a>
    </div>
    <p>
        DNS («Дэ-эн-эс»)[3] — российская торговая сеть по продаже бытовой техники и электроники, основанная в 1998 году во Владивостоке Дмитрием Алексеевым. Компания также выпускает технику под рядом собственных торговых марок.
    </p>
    <div class="logomvideo">
        <a href="https://www.mvideo.ru/" target="_blank">
            <img src="{% static 'app/content/mvideologo.jpg' %}" alt="Logo 1" class="logomvideo" />
        </a>
    </div>
    <p> 
        Розничная сеть «М.Видео» — одна из крупнейших розничных сетей по объёмам продаж электроники и бытовой техники в России. «М.Видео» осуществляет свою деятельность с 1993 года и является первой на российском рынке сетью, реализовавшей полноценный омниканальный подход к продажам — это единый ассортимент, цена и сервис как при покупке в магазинах, так и онлайн. Ритейлер предлагает своим покупателям несколько десятков тысяч наименований аудио/видео и цифровой техники, мелкой и крупной бытовой техники, медиатоваров, а также аксессуаров. Магазины «М.Видео» имеют единый формат и специальную концепцию дизайна. Помимо эффективного формата розничной торговли и ориентированной на покупателя концепции магазина, компания предлагает клиентам высококлассную сервисную поддержку под брендом «М.Сервис». Эксперты «М.Кредит» помогут быстро заполнить анкету и получить одобрение сразу от нескольких банков-партнёров.
    </p>
</body>
</html>
{% endblock %}